# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/proj9117/compftp/"
PassengerBaseURI "/"
PassengerNodejs "/home/proj9117/nodevenv/compftp/12/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv FTP_HOST srv150.niagahoster.com
SetEnv FTP_USER compFtp@projectmehvish.com
SetEnv FTP_PASSWORD sahawaenya2703
SetEnv PORT 3001
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END