# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/proj9117/repositories"
PassengerBaseURI "/"
PassengerNodejs "/home/proj9117/nodevenv/repositories/testftp/12/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
